*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-main);
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
}

.btn-ufc {
  background: var(--ufc-blue);
  color: #fff;
  border: none;
}
.btn-ufc:hover {
  background: var(--ufc-blue-dark);
  color: #fff;
}
.btn-gold {
  background: var(--ufc-gold);
  color: #222;
  border: none;
  font-weight: 600;
}
.btn-gold:hover {
  background: #e3a51e;
  color: #222;
}
